
$font-oppen: 'Lato', sans-serif;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: '';
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 14px;
  font-family: $font-oppen;
  scroll-behavior: smooth;
}


body{
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

img,
a {
  transition: all .3s;
}

p {
  font-size: 14px;
  line-height: 20px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.clear {
  clear: both;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
}

.container{
  max-width: 1280px;
}

@media screen and (min-width: 1200px) {
  .container{
    max-width: 1200px;
  }
}

@media screen and (min-width: 1300px) {
  .container{
    max-width: 1330px;
  }
}

@media screen and (min-width: 1500px) {
  .container{
    max-width: 1440px;
  }
}



