@font-face {
    font-family: 'butlers';
    src: url('Butler_Black_Stencil.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'butlers';
    src: url('Butler_ExtraBold_Stencil.otf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'butlers';
    src: url('Butler_Bold_Stencil.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'butlers';
    src: url('Butler_Medium_Stencil.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'butlers';
    src: url('Butler_Regular_Stencil.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'butlers';
    src: url('Butler_Ultra_Light_Stencil.otf');
    font-weight: 200;
    font-style: normal;
}


