/*!
Theme Name: Aman Food
Author: Webseo247
Author URI: https://webseo247.com
Description: A WooCommerce customized theme for Nam Quang Optical Brand in Vietnam.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: MIT
Text Domain: amanfood
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- The content
	- Header
	- Footer
	- General
	- Home
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
/* Ws var colors */
/*02 Font-size */
/*03 Ws247 Mixin */
/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
  background: #fff;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* reset
--------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

img,
a {
  transition: all .3s;
}

p {
  font-size: 14px;
  line-height: 20px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.clear {
  clear: both;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
}

.container {
  max-width: 1280px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    max-width: 1330px;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}
/* Navigation
--------------------------------------------- */
.list-number-next-tab {
  margin-bottom: 30px;
}
.list-number-next-tab ul li {
  display: inline-block;
}
.list-number-next-tab ul li a {
  display: block;
  font-size: 14px;
  text-align: center;
  padding: 7px 15px;
  border: 1px solid #ddd;
  color: #465363;
}
.list-number-next-tab ul li .active {
  border: 1px solid #d60c0c;
  background-color: #d60c0c;
  color: white;
}

/* Posts and pages
--------------------------------------------- */
.the_content h2, .the_content h3, .the_content h4 {
  font-weight: bold;
  color: #666;
  margin-bottom: 1rem;
}
.the_content h6 {
  font-size: 16px;
}
.the_content h5 {
  font-size: 18px;
}
.the_content h4 {
  font-size: 22px;
}
.the_content h3 {
  font-size: 25px;
}
.the_content h2 {
  font-size: 27px;
  line-height: 1.5;
}
.the_content p {
  color: #666;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.the_content ul {
  list-style: disc;
  padding-left: 18px;
  padding-bottom: 5px;
}
.the_content ul li {
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}
.the_content ul li a {
  color: #ff5912;
}
.the_content ol {
  list-style: decimal;
  padding-left: 18px;
  padding-bottom: 5px;
}
.the_content ol li {
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}
.the_content ol li a {
  color: #ff5912;
}
.the_content blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eb2b2d;
}
.the_content blockquote p {
  margin: 0 !important;
}
.the_content code {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  font-size: .85rem;
  color: #e83e8c;
}
.the_content table > tbody > tr > td, .the_content table > tbody > tr > th, .the_content table > tfoot > tr > td, .the_content table > tfoot > tr > th, .the_content table > thead > tr > td, .the_content table > thead > tr > th {
  border: 1px solid #ddd;
  padding: 7px 10px;
}
.the_content iframe {
  margin: auto;
}
.the_content .syntaxhighlighter {
  padding: 10px 0;
}

/*04 keyframes */
@keyframes namdz {
  0% {
    animation: namdz 1s infinite ease-in-out;
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}
/* Header
--------------------------------------------- */
.over-lay-mb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  z-index: 9995;
  display: none;
}
.over-lay-mb.overlay-open {
  display: block;
}

.box-search_header {
  position: fixed;
  top: 30%;
  left: 50%;
  transition: .3s ease-in-out;
  animation: show_box_hd .5s forwards;
  text-align: center;
  z-index: 9999;
  display: none;
}
.box-search_header.active_show {
  display: block;
}
@keyframes show_box_hd {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(0.7);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }
}
.box-search_header label {
  font-size: 35px;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 20px;
  color: #fff;
}
.box-search_header form {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  height: 30px;
}
.box-search_header form input {
  border: none;
  outline: none;
  border-radius: unset;
  padding-left: 10px;
  width: 290px;
  background: transparent;
  color: #fff !important;
  height: 30px;
}
.box-search_header form button {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 3px;
}
.box-search_header form button .fa {
  font-size: 14px;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: .3s ease-out;
}
header:hover {
  background: #fff;
}
header:hover .header-main {
  border-bottom: unset;
}
@media only screen and (max-width: 768px) {
  header {
    position: static;
  }
}

.header-main {
  border-bottom: 1px solid #3E3E3F;
}
.header-main .logo {
  max-width: auto;
  height: auto;
}
.header-main .logo img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .header-main .main-menu {
    display: none;
  }
}
.header-main .main-menu ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  perspective: 500px;
}
.header-main .main-menu ul li {
  margin-right: 30px;
  line-height: 60px;
}
.header-main .main-menu ul li:hover a::before {
  width: 70%;
}
.header-main .main-menu ul li a {
  font-size: 14px;
  color: #000000;
  transition: .3s ease-out;
  display: inline-block;
  position: relative;
}
.header-main .main-menu ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 0%;
  height: 2px;
  background: #000;
  transition: .3s ease-out;
}
.header-main .main-menu ul li:last-child {
  margin-right: unset;
}
.header-main .main-menu ul li.has-child {
  position: relative;
}
.header-main .main-menu ul li.has-child a:after {
  content: "\f107";
  font-family: "fontawesome";
  padding-left: 4px;
}
.header-main .main-menu ul li.has-child:hover ul {
  transform: rotateY(0deg) rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.header-main .main-menu ul li.has-child ul {
  position: absolute;
  padding: 15px 17px;
  margin: unset;
  width: max-content;
  background: #fff;
  flex-direction: column;
  align-items: flex-start;
  transform-style: preserve-3d;
  transform: rotateY(-10deg) rotateX(-50deg);
  transition: .3s ease-out;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0px 2px 10px 2px rgba(238, 238, 238, 0.53);
  box-shadow: 0px 2px 10px 2px rgba(238, 238, 238, 0.53);
}
.header-main .main-menu ul li.has-child ul li {
  line-height: 22px;
}
.header-main .main-menu ul li.has-child ul li a:after {
  content: "";
  padding-left: 0px;
}
.header-main .main-menu ul li.has-child ul li a::before {
  display: none;
}

.moblie-bar .hc-nav-trigger {
  position: static;
}

/* Home
--------------------------------------------- */
.blog-box {
  margin-bottom: 20px;
}
@media only screen and (max-width: 576px) {
  .blog-box .box-images {
    height: auto !important;
  }
}
.blog-box.only-title {
  margin-bottom: 15px;
}
.blog-box.only-title .box-text {
  position: relative;
  z-index: 3;
  padding-left: 10px;
}
.blog-box.only-title .box-text::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 4px;
  height: 4px;
  z-index: 4;
  background: #0D4DA1;
}
.blog-box.only-title .box-text .title a {
  font-size: 15px;
  color: #000;
  line-height: 22px;
  font-weight: 500;
  transition: .3s ease-out;
}
.blog-box.only-title .box-text .title a:hover {
  color: #0D4DA1;
}
.blog-box.only-title .box-text .date {
  padding-top: 5px;
}
.blog-box.only-title .box-text .date span {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
}
@media only screen and (max-width: 576px) {
  .blog-box.only-title .box-text .date span {
    display: block;
  }
}
.blog-box.sm-round:hover .box-images {
  -webkit-box-shadow: 0px 0px 15px 8px rgba(209, 209, 209, 0.75);
  box-shadow: 0px 0px 15px 8px rgba(209, 209, 209, 0.75);
}
.blog-box.sm-round:hover .box-text .title a {
  color: #0E79B6;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-box.sm-round .box-images {
  max-width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 0px 30px 0px 30px;
  transition: .3s ease-out;
}
.blog-box.sm-round .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}
.blog-box.sm-round .box-text {
  padding-top: 20px;
}
.blog-box.sm-round .box-text .title a {
  font-size: 15px;
  font-weight: 600;
  color: #333333;
  transition: .3s ease-out;
}
.blog-box.inside-slider .box-images {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .blog-box.inside-slider .box-images {
    height: auto;
  }
}
.blog-box.inside-slider .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.blog-box.inside-slider .box-text {
  background: #fff;
  padding: 12px 0px;
}
.blog-box.inside-slider .box-text .title a {
  font-size: 20px;
  color: #0d78b7;
  transition: .3s ease-out;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-box.inside-slider .box-text .title a:hover {
  color: #f1a73a;
}
.blog-box.inside-col:hover .box-text .title a {
  color: #0d78b7;
}
.blog-box.inside-col:hover .box-images {
  -webkit-box-shadow: 0px 0px 15px 8px rgba(209, 209, 209, 0.75);
  box-shadow: 0px 0px 15px 8px rgba(209, 209, 209, 0.75);
}
.blog-box.inside-col:hover .box-images:after {
  width: 100%;
}
.blog-box.inside-col .box-images {
  max-width: 100%;
  height: 345px;
  overflow: hidden;
  position: relative;
  transition: .3s ease-out;
}
.blog-box.inside-col .box-images:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 6px;
  background: #0D78B7;
  transition: .3s ease-out;
}
.blog-box.inside-col .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.blog-box.inside-col .box-text {
  background: #fff;
  padding: 25px 0px;
}
.blog-box.inside-col .box-text .title a {
  font-size: 20px;
  color: #333333;
  transition: .3s ease-out;
  font-weight: 600;
}
.blog-box.single-desc:hover .box-images img {
  transform: scale(1.1);
}
.blog-box.single-desc:hover .box-text .title a {
  color: #0d78b7;
}
.blog-box.single-desc .box-images {
  max-width: 100%;
  height: 300px;
  overflow: hidden;
}
.blog-box.single-desc .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: .3s ease-out;
}
.blog-box.single-desc .box-text {
  padding-top: 15px;
}
.blog-box.single-desc .box-text .title a {
  font-size: 22px;
  font-weight: 600;
  color: #333333;
  line-height: 27px;
  transition: .3s ease-out;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-box.single-desc .box-text .date {
  padding-top: 13px;
}
.blog-box.single-desc .box-text .date span {
  color: #999999;
  font-size: 14px;
  font-weight: 300;
}
.blog-box.single-desc .box-text .desc {
  padding-top: 13px;
}
.blog-box.single-desc .box-text .desc p {
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 63px;
}
.blog-box.vertical-blogs {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #F4F4F4;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.blog-box.vertical-blogs:last-child {
  border-bottom: unset;
}
@media only screen and (max-width: 576px) {
  .blog-box.vertical-blogs.res-single {
    flex-direction: column;
  }
  .blog-box.vertical-blogs.res-single .box-text {
    padding-left: 0px;
    padding-top: 15px;
  }
}
.blog-box.vertical-blogs.no-border-bt {
  margin-bottom: 30px;
  border-bottom: 1px solid unset;
}
.blog-box.vertical-blogs.no-border-bt:last-child {
  margin-bottom: 30px;
}
.blog-box.vertical-blogs.no-border-bt .box-text .desc span {
  font-size: 13px;
  color: #666666;
  font-weight: 300;
}
.blog-box.vertical-blogs:last-child {
  border-bottom: unset;
  padding-bottom: unset;
  margin-bottom: unset;
}
.blog-box.vertical-blogs:hover .box-images img {
  transform: scale(1.1);
}
.blog-box.vertical-blogs:hover .box-text .title a {
  color: #0d78b7;
}
.blog-box.vertical-blogs.equa-height:hover .box-text .title a {
  color: #0369CE;
}
.blog-box.vertical-blogs.equa-height .box-images {
  height: 90px;
}
.blog-box.vertical-blogs.equa-height .box-images img {
  height: 100%;
}
.blog-box.vertical-blogs.equa-height .box-text .title a {
  font-size: 14.5px;
  color: #000000;
  -webkit-line-clamp: 3;
  line-height: 1.5;
}
.blog-box.vertical-blogs.equa-height .box-text .title a:hover {
  color: #0369CE;
}
.blog-box.vertical-blogs.equa-height .box-text .date {
  padding-top: 8px;
}
.blog-box.vertical-blogs .box-images {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  flex: 0 0 35%;
}
.blog-box.vertical-blogs .box-images img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  transition: .3s ease-out;
}
.blog-box.vertical-blogs .box-images.single-height {
  height: 234px;
}
.blog-box.vertical-blogs .box-images.single-height img {
  height: 100%;
}
.blog-box.vertical-blogs .box-text {
  flex: 0 0 65%;
  padding-left: 7px;
}
.blog-box.vertical-blogs .box-text .title a {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  transition: .3s ease-out;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-box.vertical-blogs .box-text .title.bg-title a {
  font-size: 23px;
  line-height: 30px;
}
.blog-box.vertical-blogs .box-text .date {
  padding-top: 13px;
}
.blog-box.vertical-blogs .box-text .date span {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
}
@media only screen and (max-width: 576px) {
  .blog-box.vertical-blogs .box-text .date span {
    display: block;
  }
}
.blog-box.vertical-blogs .box-text .desc {
  padding-top: 13px;
}
.blog-box.vertical-blogs .box-text .desc span {
  font-size: 15px;
  color: #333333;
  font-weight: 400;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 63px;
}
.blog-box.vertical-blogs .box-text .blog-see-more {
  padding-top: 17px;
}
.blog-box.vertical-blogs .box-text .blog-see-more a {
  display: inline-block;
  padding: 10px 28px;
  font-size: 15px;
  color: #333333;
  background: #E4E4E4;
  transition: .3s ease-out;
}
.blog-box.vertical-blogs .box-text .blog-see-more a:hover {
  background: #105B8B;
  color: #fff;
}
.blog-box.box-text-inside {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(238, 238, 238, 0.82);
  box-shadow: 0px 0px 15px 3px rgba(238, 238, 238, 0.82);
  border-radius: 5px;
}
.blog-box.box-text-inside:hover .box-text {
  opacity: 1;
  visibility: visible;
  bottom: 60px;
}
.blog-box.box-text-inside:hover .box-images:after {
  opacity: 1;
  visibility: visible;
}
.blog-box.box-text-inside .box-images {
  position: relative;
  z-index: 1;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
.blog-box.box-text-inside .box-images:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.671);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
}
.blog-box.box-text-inside .box-images img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}
.blog-box.box-text-inside .box-text {
  position: absolute;
  bottom: -10px;
  left: 21px;
  width: 100%;
  padding: 11px 0px;
  transition: .3s ease-out;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
}
.blog-box.box-text-inside .box-text h3 {
  font-family: 'butlers';
  font-size: 24px;
  color: #fff;
}
.blog-box.box-text-inside .box-text span {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 17px;
  line-height: 22px;
}
.blog-box.brand-box {
  max-width: 100%;
  height: 365px;
  position: relative;
  z-index: 1;
  background: #EFF9FF;
  border: 1px solid #03598C;
  border-radius: 0px 25px 0px 25px;
  cursor: pointer;
  transition: .3s ease-out;
  margin-bottom: 50px;
}
.blog-box.brand-box:hover {
  background: #03598C;
  -webkit-box-shadow: 0px 0px 15px 8px rgba(209, 209, 209, 0.75);
  box-shadow: 0px 0px 15px 8px rgba(209, 209, 209, 0.75);
}
.blog-box.brand-box:hover .box-text {
  color: #fff;
}
.blog-box.brand-box .brand-note {
  position: absolute;
  max-width: 110px;
  height: auto;
  overflow: hidden;
  z-index: 2;
  left: 50%;
  top: -35px;
  transform: translateX(-50%);
}
.blog-box.brand-box .brand-note img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.blog-box.brand-box .box-images {
  max-width: 150px;
  height: 145px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
  margin: auto;
  margin-top: 85px;
}
.blog-box.brand-box .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}
.blog-box.brand-box .box-text {
  padding-top: 10px;
  color: #03598c;
  transition: .3s ease-out;
}
.blog-box.brand-box .box-text .name span {
  font-size: 18px;
  font-weight: 600;
}
.blog-box.brand-box .box-text .actor-position {
  padding-top: 10px;
}
.blog-box.brand-box .box-text .actor-position span {
  font-size: 15px;
  font-weight: 300;
}
.blog-box.brand-box .box-text .company {
  padding-top: 10px;
}
.blog-box.brand-box .box-text .company span {
  font-size: 15px;
  font-weight: 300;
}
.blog-box.brand-box .box-text .actor-idea {
  padding-top: 17px;
}
.blog-box.brand-box .box-text .actor-idea span {
  font-size: 18px;
  font-weight: 400;
}
.blog-box.normal-blog {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(238, 238, 238, 0.82);
  box-shadow: 0px 0px 15px 3px rgba(238, 238, 238, 0.82);
  overflow: hidden;
}
.blog-box.normal-blog:hover .box-images img {
  transform: scale(1.1);
}
.blog-box.normal-blog .box-images {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
.blog-box.normal-blog .box-images img {
  height: auto;
  vertical-align: middle;
  transition: .3s ease-out;
  object-fit: cover;
}
.blog-box.normal-blog .box-text {
  padding: 20px;
}
.blog-box.normal-blog .box-text .desc span {
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-box {
  margin-bottom: 30px;
}
@media only screen and (max-width: 576px) {
  .icon-box {
    display: flex;
  }
}
.icon-box .images {
  width: max-content;
  height: 180px;
  font-size: 10px;
  margin: auto;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .icon-box .images {
    height: auto;
    font-size: 50%;
  }
}
.icon-box .images img {
  display: block;
}
.icon-box .images .text-ct {
  display: block;
  position: absolute;
  z-index: 2;
  top: -6px;
  left: -17px;
  font-size: 12em;
  opacity: .4;
}
.icon-box .text {
  text-align: center;
  padding-top: 20px;
}
.icon-box .text .title {
  font-size: 16px;
  font-weight: 700;
  color: #202020;
  display: inline-block;
}
.icon-box .text .desc {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding-top: 15px;
  line-height: 23px;
}
@media only screen and (max-width: 576px) {
  .icon-box .text {
    text-align: left;
    padding-top: 1px;
    padding-left: 20px;
  }
  .icon-box .text .desc {
    padding-top: 10px;
  }
}

.main-title {
  font-size: 10px;
  font-family: 'butlers';
  padding-bottom: 40px;
}
.main-title .title {
  font-size: 4.8em;
  color: #333333;
}
@media only screen and (max-width: 576px) {
  .main-title {
    font-size: 60%;
  }
}
.main-title.others {
  padding-bottom: 0px;
}
.main-title.others .title {
  font-size: 3em;
}

.the_content.custom-content-home {
  margin-bottom: 40px;
}
.the_content.custom-content-home p {
  line-height: 23px;
}

.see-more-home {
  text-align: center;
  margin-top: 35px;
}
.see-more-home a {
  background: #242424;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 45px;
  border-radius: 5px;
}
@media only screen and (max-width: 576px) {
  .see-more-home a {
    padding: 10px 30px;
  }
}

.review-box {
  max-width: 100%;
  overflow: hidden;
  font-size: 10px;
  background: #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(238, 238, 238, 0.82);
  box-shadow: 0px 0px 15px 3px rgba(238, 238, 238, 0.82);
  padding: 50px 50px 30px 20px;
}
.review-box .title {
  font-size: 2.4em;
  color: #333;
  font-family: 'butlers';
}
.review-box .rating-star {
  padding: 20px 0px;
  font-size: 1.4em;
}
.review-box .rating-star span.checked {
  color: #FFCC66;
}
.review-box .desc {
  font-size: 1.6em;
  line-height: 20px;
}
.review-box .infor-customer {
  padding-top: 40px;
  font-size: 1.8em;
}
.review-box .infor-customer h4 {
  font-weight: bold;
  line-height: 24px;
}

.content-normal .ic {
  text-align: center;
}
.content-normal .text {
  text-align: center;
  padding-top: 7px;
}
.content-normal .text h4 {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}

.img-box {
  height: 100%;
  max-width: 100%;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.breadcrumb {
  padding: unset;
  margin: unset;
  background: none;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "\f105";
  font-family: "fontawesome";
}
.breadcrumb .breadcrumb-item {
  font-size: 14px;
  color: #666666;
}
.breadcrumb .breadcrumb-item a {
  color: #666666;
}

.breadcumb-main {
  background: #F9F9F9;
  padding: 11px 0px;
}

.product-box {
  margin-bottom: 30px;
}
.product-box:hover .box-images img {
  transform: scale(1.1);
}
.product-box:hover .box-text .title-product a {
  color: #cc0000;
}
.product-box .box-images {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
.product-box .box-images img {
  width: 100%;
  height: auto;
}
.product-box .box-text {
  padding-top: 10px;
}
.product-box .box-text .title-product a {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
}
.product-box .box-text .desc {
  padding-top: 17px;
}
.product-box .box-text .desc span {
  font-size: 16px;
  color: #666666;
}
.product-box .box-text .price-product {
  padding-top: 17px;
}
.product-box .box-text .price-product .price {
  font-weight: bold;
}
.product-box .box-text .price-product .price del {
  font-size: 16px;
  color: #666;
  padding-right: 5px;
}
.product-box .box-text .price-product .price ins {
  background: unset;
  font-size: 18px;
  color: #cc0000;
}

main {
  position: relative;
  margin-top: 62px;
}
main.home-page {
  margin-top: unset;
}

.banner .banner-box {
  position: relative;
}
.banner .banner-images {
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.banner .banner-images img {
  height: 100%;
  object-fit: cover;
}
.banner .banner-text {
  position: absolute;
  width: max-content;
  top: 55%;
  transform: translateY(-50%);
  left: 36px;
  font-size: 10px;
  font-family: 'butlers';
}
@media only screen and (max-width: 576px) {
  .banner .banner-text {
    font-size: 35%;
    width: 100%;
  }
}
.banner .banner-text .banner-title {
  font-size: 4em;
  color: #fff;
  font-weight: 500;
}
.banner .banner-text .banner-btn {
  font-size: 1.4em;
  text-transform: uppercase;
  color: #333333;
  display: inline-block;
  padding: 10px 26px;
  background: #fff;
  border-radius: 5px;
  margin-top: 23px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
@media only screen and (max-width: 576px) {
  .banner .banner-text .banner-btn {
    padding: 10px;
  }
}
.banner .owl-carousel .item {
  margin-bottom: 0px;
}
.banner .owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(51, 51, 51, 0.678);
}
.banner .owl-carousel.owl-theme .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 93%;
}
@media only screen and (max-width: 1024px) {
  .banner .owl-carousel.owl-theme .owl-dots {
    top: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .banner .owl-carousel.owl-theme .owl-dots {
    top: 87%;
  }
}
@media only screen and (max-width: 576px) {
  .banner .owl-carousel.owl-theme .owl-dots {
    top: 80%;
  }
}
.banner .owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.banner .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #A6A6A6;
}
.banner .owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 3px;
  background: #FFFFFF;
}
.banner .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #A6A6A6;
}
.banner .owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.banner .owl-carousel .owl-nav {
  opacity: 1;
  visibility: visible;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .banner .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.banner .owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 50px;
  z-index: 4;
  background: rgba(51, 51, 51, 0.678);
  color: #fff;
  margin: 0;
}
.banner .owl-carousel .owl-nav button span {
  display: block;
  margin-bottom: 6px;
  padding: 0px 7px;
}
.banner .owl-carousel .owl-nav button:hover {
  color: #fff;
}
.banner .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: 0px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .banner .owl-carousel .owl-nav button.owl-prev {
    left: 0px;
  }
}
.banner .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: 0px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .banner .owl-carousel .owl-nav button.owl-next {
    right: 0px;
  }
}

.how-it-work {
  padding-top: 70px;
}

.our-packet {
  padding-top: 100px;
}
.our-packet .owl-stage-outer {
  padding: 15px 0px;
}
.our-packet .owl-carousel .item {
  padding: 5px;
}
.our-packet .owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(51, 51, 51, 0.678);
}
.our-packet .owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.our-packet .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #333333;
  width: 50px;
}
.our-packet .owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 3px;
  background: #EBE8E8;
  width: 20px;
  height: 3px;
}
.our-packet .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #333333;
}

.our-product {
  padding-top: 70px;
  overflow: hidden;
}
.our-product .pr-images {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 30px;
}
.our-product .pr-images:hover img {
  transform: scale(1.1);
}
.our-product .pr-images img {
  height: auto;
  vertical-align: middle;
  transition: .3s ease-out;
}

.porfolio {
  margin-top: 100px;
  padding-top: 70px;
  padding-bottom: 60px;
  background: #E0E0E0;
}
.porfolio .owl-stage-outer {
  padding: 15px 0px;
}
.porfolio .owl-carousel .item {
  padding: 5px;
}
.porfolio .owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.porfolio .owl-carousel .owl-nav {
  opacity: 1;
  visibility: visible;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .porfolio .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.porfolio .owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 20px;
  z-index: 4;
  background: rgba(51, 51, 51, 0.548);
  color: #fff;
  margin: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: normal;
}
.porfolio .owl-carousel .owl-nav button:hover {
  background: rgba(51, 51, 51, 0.918);
}
.porfolio .owl-carousel .owl-nav button span {
  display: block;
  margin-bottom: 6px;
  padding: 0px 7px;
  font-weight: normal;
}
.porfolio .owl-carousel .owl-nav button:hover {
  color: #fff;
}
.porfolio .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .porfolio .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
}
.porfolio .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .porfolio .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
}

.before-after {
  padding-top: 80px;
}
.before-after .container {
  max-width: 1200px;
}
.before-after img {
  transition: 0s;
  object-fit: cover;
}
.before-after .owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.before-after .owl-carousel .owl-nav {
  opacity: 1;
  visibility: visible;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .before-after .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.before-after .owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 20px;
  z-index: 4;
  background: rgba(51, 51, 51, 0.548);
  color: #fff;
  margin: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: normal;
}
.before-after .owl-carousel .owl-nav button:hover {
  background: rgba(51, 51, 51, 0.918);
}
.before-after .owl-carousel .owl-nav button span {
  display: block;
  margin-bottom: 6px;
  padding: 0px 7px;
  font-weight: normal;
}
.before-after .owl-carousel .owl-nav button:hover {
  color: #fff;
}
.before-after .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .before-after .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
}
.before-after .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .before-after .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
}

.review-customer {
  padding-top: 100px;
}
.review-customer .owl-stage-outer {
  padding: 15px 0px;
}
.review-customer .owl-carousel .item {
  padding: 5px;
}
.review-customer .owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(51, 51, 51, 0.678);
}
.review-customer .owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.review-customer .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #333333;
  width: 50px;
}
.review-customer .owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 3px;
  background: #EBE8E8;
  width: 20px;
  height: 3px;
}
.review-customer .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #333333;
}

.pablo-design {
  padding-top: 90px;
}
.pablo-design .row {
  background: #FAFAFA;
}
.pablo-design .conent-box {
  padding: 70px 0px 70px 50px;
}
.pablo-design .conent-box .text {
  font-size: 10px;
}
.pablo-design .conent-box .text .title {
  font-size: 4em;
  display: block;
  max-width: 575px;
  padding-bottom: 30px;
  font-family: 'butlers';
}
.pablo-design .conent-box .text .the_content {
  max-width: 670px;
}
.pablo-design .conent-box .text .the_content p {
  font-size: 15px;
}
.pablo-design .owl-carousel .item {
  padding: 5px;
}
.pablo-design .owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(51, 51, 51, 0.678);
}
.pablo-design .owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.pablo-design .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #333333;
  width: 50px;
}
.pablo-design .owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 3px;
  background: #EBE8E8;
  width: 20px;
  height: 3px;
}
.pablo-design .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #333333;
}
.pablo-design .owl-theme .owl-dots, .pablo-design .owl-theme .owl-nav {
  text-align: left;
}

.work-with-us {
  position: relative;
  padding: 115px 0px;
  background-image: url("../images/bg3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.work-with-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #d7d1d171;
}
.work-with-us .container {
  position: relative;
  z-index: 3;
}
.work-with-us .content-box {
  font-size: 10px;
}
.work-with-us .content-box .title {
  font-size: 2.4em;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 40px;
}
.work-with-us .content-box .desc {
  font-size: 3.6em;
  font-family: 'butlers';
  color: #000000;
}

.partner .content-box {
  padding: 65px 10px 52px 40px;
}
.partner .the_content {
  max-width: 665px;
}
.partner .the_content p {
  font-size: 18px;
  color: #333333;
}
.partner .the_content ul {
  list-style: none;
  margin: unset;
  padding: unset;
}
.partner .the_content ul li a {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  padding-right: 14px;
}

/* general
--------------------------------------------- */
html.hc-nav-yscroll {
  overflow-y: scroll;
}

body.hc-nav-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  min-height: 100%;
}

.hc-offcanvas-nav {
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999;
}

.hc-offcanvas-nav.is-ios * {
  cursor: pointer !important;
}

.hc-offcanvas-nav .nav-container {
  position: fixed;
  z-index: 9998;
  top: 0;
  width: 280px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  transition: transform .4s ease;
}

.hc-offcanvas-nav .nav-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overscroll-behavior: none;
  box-sizing: border-box;
}

.hc-offcanvas-nav .nav-content {
  height: 100%;
  max-height: 100vh;
}

.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hc-offcanvas-nav li {
  position: relative;
  display: block;
}

.hc-offcanvas-nav li.level-open > .nav-wrapper {
  visibility: visible;
}

.hc-offcanvas-nav input[type="checkbox"] {
  display: none;
}

.hc-offcanvas-nav label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}

.hc-offcanvas-nav a {
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.hc-offcanvas-nav a,
.hc-offcanvas-nav a:hover {
  text-decoration: none;
}

.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
  content: '';
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease .4s, opacity .4s ease;
}

.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
  visibility: visible;
  opacity: 1;
  transition-delay: .05s;
}

.hc-offcanvas-nav:not(.nav-open)::after {
  pointer-events: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
  min-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: height 0s ease .4s;
}

.hc-offcanvas-nav.nav-levels-expand .level-open > .nav-wrapper {
  max-height: none;
}

.hc-offcanvas-nav.nav-levels-overlap .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
  position: absolute;
  z-index: 9999;
  top: 0;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s ease .4s, transform .4s ease;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
  position: static;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform .4s ease;
}

.hc-offcanvas-nav.nav-position-left {
  left: 0;
}

.hc-offcanvas-nav.nav-position-left .nav-container {
  left: 0;
  transform: translate3d(-280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-right {
  right: 0;
}

.hc-offcanvas-nav.nav-position-right .nav-container {
  right: 0;
  transform: translate3d(280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-top {
  top: 0;
}

.hc-offcanvas-nav.nav-position-top .nav-container {
  top: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom {
  top: auto;
  bottom: 0;
}

.hc-offcanvas-nav.nav-position-bottom .nav-container {
  top: auto;
  bottom: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
  transform: translate3d(0, 0, 0);
}

.hc-nav-trigger {
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  top: 30px;
  left: 15px;
  z-index: 9980;
  width: 30px;
  min-height: 24px;
}

.hc-nav-trigger span {
  width: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
}

.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  background: #34495E;
  transition: all .2s ease;
}

.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  content: '';
  width: 100%;
}

.hc-nav-trigger span::before {
  top: -10px;
}

.hc-nav-trigger span::after {
  bottom: -10px;
}

.hc-nav-trigger.toggle-open span {
  background: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
}

.hc-nav-trigger.toggle-open span::before {
  transform: translate3d(0, 10px, 0);
}

.hc-nav-trigger.toggle-open span::after {
  transform: rotate(-90deg) translate3d(10px, 0, 0);
}

.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
  background: rgba(0, 0, 0, 0.3);
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: #336ca6;
}

.hc-offcanvas-nav h2 {
  font-size: 19px;
  font-weight: normal;
  text-align: left;
  padding: 20px 17px;
  color: #1b3958;
}

.hc-offcanvas-nav a {
  padding: 14px 17px;
  font-size: 15px;
  color: #fff;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #2c5d8f;
}

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: #31679e;
}

.hc-offcanvas-nav ul:first-of-type:not(:first-child) > li:first-child:not(.nav-back):not(.nav-close) > a {
  border-top: 1px solid #2c5d8f;
  margin-top: -1px;
}

.hc-offcanvas-nav li {
  text-align: left;
}

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  background: #2c5d8f;
  border-top: 1px solid #295887;
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav li.nav-close a:hover,
.hc-offcanvas-nav li.nav-back a:hover {
  background: #2b5c8d;
}

.hc-offcanvas-nav li.nav-parent a {
  padding-right: 58px;
}

.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent span.nav-next,
.hc-offcanvas-nav li.nav-back span {
  width: 45px;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  transition: background .2s ease;
}

.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -9px;
  transform: rotate(135deg);
}

.hc-offcanvas-nav li.nav-close span::after {
  transform: rotate(-45deg);
}

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #2c5d8f;
}

.hc-offcanvas-nav span.nav-next::before,
.hc-offcanvas-nav li.nav-back span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform-origin: center;
}

.hc-offcanvas-nav span.nav-next::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav li.nav-back span::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper {
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-right li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-top span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-position-top li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-bottom span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper,
.hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper {
  box-shadow: none;
  background: transparent;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul h2,
.hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul ul a,
.hc-offcanvas-nav.nav-levels-none .nav-container ul ul a {
  font-size: 14px;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li,
.hc-offcanvas-nav.nav-levels-none .nav-container li {
  transition: background .3s ease;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open {
  background: #2e6296;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a {
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #333;
}

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #333;
  border-top: unset;
  border-bottom: unset;
  text-transform: uppercase;
  font-weight: bold;
}

.hc-offcanvas-nav a {
  border-bottom: unset;
  font-size: 13px;
  text-transform: uppercase;
}

.hc-offcanvas-nav h2 {
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after {
  border-left: 0;
  width: 25px;
  height: 15px;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -13px;
}

.hc-offcanvas-nav li.nav-close span::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -13px;
  margin-left: -1px;
}

.nav-close a {
  padding: 25px 15px;
}

.hc-offcanvas-nav h2 {
  text-transform: uppercase;
}

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border: unset;
}

/* Footer
--------------------------------------------- */
#footer {
  padding-top: 95px;
  padding-bottom: 85px;
  border-top: 1px solid #EDEDED;
}
#footer .title-ft {
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
#footer .title-ft h3 {
  font-weight: bold;
}
#footer .the_content.content_ft p {
  margin-bottom: 7px;
  font-size: 16px;
}
#footer .the_content.content_ft .navi-ft {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer .the_content.content_ft .navi-ft li {
  line-height: 23px;
}
#footer .the_content.content_ft .navi-ft li a {
  font-size: 16px;
  color: #000000;
}
#footer .follow-ic {
  padding-top: 20px;
}
#footer .follow-ic ul {
  display: flex;
  flex-wrap: wrap;
}
#footer .follow-ic ul li {
  margin-right: 2px;
  margin-bottom: 10px;
}
#footer .follow-ic ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #DADADB;
  border-radius: 100%;
  color: #000;
  transition: .3s ease-out;
}
#footer .follow-ic ul li a:hover {
  background: #000;
  color: #fff;
}
#footer a.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #242424 url("../images/iconmonstr-arrow-66-16.png") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 999;
}
#footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
#footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
  color: #CCCCCC;
  text-decoration: none;
}
#footer a.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
#footer a.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}
