#footer{
    padding-top: 95px;
    padding-bottom: 85px;
    border-top: 1px solid #EDEDED;
    .title-ft{
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 20px;

        h3{
            font-weight: bold;
        }
    }

    .the_content.content_ft{
        p{
            margin-bottom: 7px;
            font-size: 16px;
        }

        .navi-ft{
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                line-height: 23px;
                a{
                    font-size: 16px;
                    color: #000000;
                }
            }
        }
    }

    .follow-ic{
        padding-top: 20px;
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                margin-right: 2px;
                margin-bottom: 10px;

                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border: 1px solid #DADADB;
                    border-radius: 100%;
                    color: #000;
                    transition: .3s ease-out;

                    &:hover{
                        background: #000;
                        color: #fff;
                    }
                }
            }
        }
    }


    a.cd-top {
        display: inline-block;
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 50px;
        right: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        /* image replacement properties */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background: #242424 url('../images/iconmonstr-arrow-66-16.png') no-repeat center 50%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
        z-index: 999;
    }

    a.cd-top.cd-is-visible, a.cd-top.cd-fade-out, .no-touch a.cd-top:hover {
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }

    a.cd-top, a.cd-top:visited, a.cd-top:hover {
        color: #CCCCCC;
        text-decoration: none;
    }

    a.cd-top.cd-is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }

    a.cd-top.cd-fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: 1;
    }
}