@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');

// components
.blog-box{
    margin-bottom: 20px;
    
    .box-images{
        @media only screen and (max-width: 576px){
            &{
                height: auto !important;
            }         
        }
    }

    &.only-title{
        margin-bottom: 15px;
        .box-text{
            position: relative;
            z-index: 3;
            padding-left: 10px;

            &::before{
                content:"";
                position: absolute;
                top: 7px;
                left: 0;
                width: 4px;
                height: 4px;
                z-index: 4;
                background: #0D4DA1;
            }
            .title{
                a{
                    font-size: 15px;
                    color: #000;
                    line-height: 22px;
                    font-weight: 500;
                    transition: .3s ease-out;

                    &:hover{
                        color: #0D4DA1;
                    }
                }
            }

            .date{
                padding-top: 5px;
                span{
                    font-size: 13px;
                    color: #999999;
                    font-weight: 300;

                  
                    @media only screen and (max-width: 576px){
                        &{
                            display: block;
                        }

                    }
                }
            }
        }
    }

    &.sm-round{
        &:hover{
            .box-images{
                -webkit-box-shadow: 0px 0px 15px 8px rgba(209,209,209,0.75); 
                box-shadow: 0px 0px 15px 8px rgba(209,209,209,0.75);
            }

            .box-text{
                .title{
                    a{
                        color: #0E79B6;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .box-images{
            max-width: 100%;
            height: 180px;
            overflow: hidden;
            border-radius: 0px 30px 0px 30px;
            transition: .3s ease-out;


            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
                object-fit: cover;
            }
        }

        .box-text{
            padding-top: 20px;
            .title{
                a{
                    font-size: 15px;
                    font-weight: 600;
                    color: #333333;
                    transition: .3s ease-out;
                }
            }
        }
    }

    &.inside-slider{     
        .box-images{
            max-width: 100%;
            height: auto;
            overflow: hidden;

            @media only screen and (max-width: 768px){
                &{
                    height: auto;
                }
            }

            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }

        .box-text{
            background: #fff;
            padding: 12px 0px;

            .title{
                a{
                    font-size: 20px;
                    color: #0d78b7;
                    transition: .3s ease-out;
                    font-weight: 600;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:hover{
                        color: #f1a73a;
                    }
                }
            }
        }
        
    }

    &.inside-col{
        &:hover{
            .box-text{
                .title{
                    a{
                        color: #0d78b7;
                    }
                }
            }

            .box-images{
                -webkit-box-shadow: 0px 0px 15px 8px rgba(209,209,209,0.75); 
                box-shadow: 0px 0px 15px 8px rgba(209,209,209,0.75);

                &:after{
                    width: 100%;
                }
            }
        }
        .box-images{
            max-width: 100%;
            height: 345px;
            overflow: hidden;
            position: relative;
            transition: .3s ease-out;

            &:after{
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0%;
                height: 6px;
                background: #0D78B7;
                transition: .3s ease-out;
            }
            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }

        .box-text{
            background: #fff;
            padding: 25px 0px;

            .title{
                a{
                    font-size: 20px;
                    color: #333333;
                    transition: .3s ease-out;
                    font-weight: 600;
                }
            }
        }
    }

    &.single-desc{
        &:hover{
            .box-images{
                img{
                    transform: scale(1.1);
                }
            }

            .box-text{
                .title{
                    a{
                        color: #0d78b7;
                    }
                }
            }
        }

        .box-images{
            max-width: 100%;
            height: 300px;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
                transition: .3s ease-out;
            }
        }

        .box-text{
            padding-top: 15px;
            .title{
                a{
                    font-size: 22px;
                    font-weight: 600;
                    color: #333333;
                    line-height: 27px;
                    transition: .3s ease-out;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .date{
                padding-top: 13px;
                span{
                    color: #999999;
                    font-size: 14px;
                    font-weight: 300;
                }
            }

            .desc{
                padding-top: 13px;
                p{
                    color: #333333;
                    font-size: 14px;
                    font-weight: 300;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 63px;
                }
            }
        }
    }

    &.vertical-blogs{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #F4F4F4;
        padding-bottom: 15px;
        margin-bottom: 15px;

        &:last-child{
            border-bottom: unset;
        }

        &.res-single{
            @media only screen and (max-width: 576px){
                &{
                    flex-direction: column;

                    .box-text{
                        padding-left: 0px;
                        padding-top: 15px;
                    }
                }
            }
        }

        &.no-border-bt{
            margin-bottom: 30px;
            border-bottom: 1px solid unset;

            &:last-child{
                margin-bottom: 30px;
            }

            .box-text{
                .desc{
                    span{
                        font-size: 13px;
                        color: #666666;
                        font-weight: 300;
                    }
                }
            }
        }

        &:last-child{
            border-bottom: unset;
            padding-bottom: unset;
            margin-bottom: unset;
        }

        &:hover{
            .box-images{
                img{
                    transform: scale(1.1);
                }
            }

            .box-text{
                .title{
                    a{
                        color: #0d78b7;
                    }
                }
            }
        }

        &.equa-height{
            &:hover{
                .box-text{
                    .title{
                        a{
                           color: #0369CE;
                        }
                    }
                }
            }
            .box-images{
                height: 90px;
                img{
                    height: 100%;
                }
            }

            .box-text{
                .title{
                    a{
                        font-size: 14.5px;
                        color: #000000;
                        -webkit-line-clamp: 3;
                        line-height: 1.5;

                        &:hover{
                            color: #0369CE;
                        }
                    }
                }

                .date{
                    padding-top: 8px;
                }
            }
        }

        .box-images{
            max-width: 100%;
            height: auto;
            overflow: hidden;
            flex: 0 0 35%;
            img{
                width: 100%;
                height: auto;
                vertical-align: middle;
                transition: .3s ease-out;
            }

            &.single-height{
                height: 234px;

                img{
                    height: 100%;
                }
            }
        }

        .box-text{
            flex: 0 0 65%;
            padding-left: 7px;

            .title{
                a{
                    color: #333333;
                    font-size: 16px;
                    line-height: 24px;
                    transition: .3s ease-out;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &.bg-title{
                    a{
                        font-size: 23px;
                        line-height: 30px;
                    }
                }
            }    

            .date{
                padding-top: 13px;
                span{
                    font-size: 13px;
                    color: #999999;
                    font-weight: 300;

                  
                    @media only screen and (max-width: 576px){
                        &{
                            display: block;
                        }

                    }
                }
            }

            .desc{
                padding-top: 13px;
                span{
                    font-size: 15px;
                    color: #333333;
                    font-weight: 400;
                    line-height: 22px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 63px;
                }
            }

            .blog-see-more{
                padding-top: 17px;
                a{
                    display: inline-block;
                    padding: 10px 28px;
                    font-size: 15px;
                    color: #333333;
                    background: #E4E4E4;
                    transition: .3s ease-out;

                    &:hover{
                        background: #105B8B;
                        color: #fff;
                    }
                }
            }
        }

    }

    &.box-text-inside{
        position: relative;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 15px 3px rgba(238,238,238,0.82); 
        box-shadow: 0px 0px 15px 3px rgba(238,238,238,0.82);
        border-radius: 5px;
        &:hover{
            .box-text{
                opacity: 1;
                visibility: visible;
                bottom: 60px;
            }

            .box-images{
                &:after{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .box-images{
            position: relative;
            z-index: 1;
            max-width: 100%;
            height: auto;
            overflow: hidden;
            
            
            &:after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top:0;
                left: 0;
                background: rgba(0, 0, 0, 0.671);
                z-index: 2;
                opacity: 0;
                visibility: hidden;
                transition: .3s ease-out;
            }

            img{
                width: 100%;
                height: auto;
                vertical-align: middle;
                object-fit: cover;
            }
        }

        .box-text{
            position: absolute;
            bottom: -10px;
            left: 21px;
            width: 100%;
            padding: 11px 0px;
            transition: .3s ease-out;
            z-index: 3;
            opacity: 0;
            visibility: hidden;
            transition: .3s ease-out;

            h3{
                font-family: 'butlers';
                font-size: 24px;
                color: #fff;
            }

            span{
                font-size: 18px;
                color: #fff;
                font-weight: 400;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 17px;
                line-height: 22px;
            }
        }
    }

    &.brand-box{
        max-width: 100%;
        height: 365px;
        position: relative;
        z-index: 1;
        background: #EFF9FF;
        border: 1px solid #03598C;
        border-radius: 0px 25px 0px 25px;
        cursor: pointer;
        transition: .3s ease-out;
        margin-bottom: 50px;

        &:hover{
            background: #03598C;
            -webkit-box-shadow: 0px 0px 15px 8px rgba(209,209,209,0.75); 
            box-shadow: 0px 0px 15px 8px rgba(209,209,209,0.75);

            .box-text{
                color: #fff;
            }
        }

        .brand-note{
            position: absolute;
            max-width: 110px;
            height: auto;
            overflow: hidden;
            z-index: 2;
            left: 50%;
            top: -35px;
            transform: translateX(-50%);
            img{
                width: 100%;
                height: auto;
                vertical-align: middle;
            }
        }

        .box-images{
            max-width: 150px;
            height: 145px;
            overflow: hidden;
            border: 3px solid #fff;
            border-radius: 50%;
            margin: auto;
            margin-top: 85px;
            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
                object-fit: cover;
            }
        }

        .box-text{
            padding-top: 10px;
            color: #03598c;
            transition: .3s ease-out;
            .name{
                span{
                    font-size: 18px;           
                    font-weight: 600;
                }
            }

            .actor-position{
                padding-top: 10px;
                span{
                    font-size: 15px;
                    font-weight: 300;
                }
            }

            .company{
                padding-top: 10px;
                span{
                    font-size: 15px;
                    font-weight: 300;
                }
            }

            .actor-idea{
                padding-top: 17px;
                span{
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }

    &.normal-blog{
        background: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 15px 3px rgba(238,238,238,0.82); 
        box-shadow: 0px 0px 15px 3px rgba(238,238,238,0.82);
        overflow: hidden;

        &:hover{
            .box-images{
                img{
                    transform: scale(1.1);
                }
            }
        }

        .box-images{
            max-width: 100%;
            height: auto;
            overflow: hidden;

            img{
                height: auto;
                vertical-align: middle;
                transition: .3s ease-out;
                object-fit: cover;
            }
        }

        .box-text{
            padding: 20px;
            .desc{
                span{
                    font-size: 18px;
                    line-height: 24px;
                    color: #333333;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    
}

.icon-box{
    margin-bottom: 30px;

    @media only screen and (max-width: 576px){
        &{
            display: flex;
        }
    }

    .images{
        width: max-content;
        height: 180px;
        font-size: 10px;
        margin:auto;
        position: relative;

        @media only screen and (max-width: 576px){
            &{
                height: auto;
                font-size: 50%;
            }
        }
    

        img{
            display: block;
        }
        
        .text-ct{
            display: block;
            position: absolute;
            z-index: 2;
            top: -6px;
            left: -17px;
            font-size: 12em;
            opacity: .4;
        }
    }

    .text{
        text-align: center;
        padding-top: 20px;

        
        .title{
            font-size: 16px;
            font-weight: 700;
            color: #202020;
            display: inline-block;
        }

        .desc{
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            padding-top: 15px;
            line-height: 23px;
        }

        @media only screen and (max-width: 576px){
            &{
                text-align: left;
                padding-top: 1px;
                padding-left: 20px;

                .desc{
                    padding-top: 10px;
                }
            }
        }
    }
}

.main-title{ 
    font-size: 10px;
    font-family: 'butlers';
    padding-bottom: 40px;
    .title{
        font-size: 4.8em;
        color: #333333;
    }

    @media only screen and (max-width: 576px){
        &{
            font-size: 60%;
        }
    }

    &.others{
        padding-bottom: 0px;
        .title{
            font-size: 3em;
        }
    }
}

.the_content.custom-content-home{
    margin-bottom: 40px;

    p{
        line-height: 23px;
    }
}

.see-more-home{
    text-align: center;
    margin-top: 35px;
    a{
        background: #242424;
        display: inline-block;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 45px;
        border-radius: 5px;

        @media only screen and (max-width: 576px){
            &{
                padding: 10px 30px;
            }
        }
    }
}

.review-box{
    max-width: 100%;
    overflow: hidden;
    font-size: 10px;
    background: #fff;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(238,238,238,0.82); 
    box-shadow: 0px 0px 15px 3px rgba(238,238,238,0.82);
    padding: 50px 50px 30px 20px;
    .title{
        font-size: 2.4em;
        color: #333;
        font-family: 'butlers';
    }

    .rating-star{
        padding: 20px 0px;
        font-size: 1.4em;

        span{
            &.checked{
                color: #FFCC66;
            }
        }
    }

    .desc{
        font-size: 1.6em;
        line-height: 20px;
    }

    .infor-customer{
        padding-top: 40px;
        font-size: 1.8em;

        h4{
            font-weight: bold;
            line-height: 24px;
        }
    }
}

.content-normal{
    .ic{
        text-align: center;
    }

    .text{
        text-align: center;
        padding-top: 7px;
        h4{
            font-size: 20px;
            font-weight: 700;
            color: #333333;
        }
    }
}

.img-box{
    height: 100%;
    max-width: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.breadcrumb{
    padding: unset;
    margin: unset;
    background: none;

    .breadcrumb-item+.breadcrumb-item::before{
        content:"\f105";
        font-family: "fontawesome";
    }

    .breadcrumb-item{
        font-size: 14px;
        color: #666666;
        a{
            color: #666666;
        }
    }
}

.breadcumb-main{
    background: #F9F9F9;
    padding: 11px 0px;
}

.product-box{
    margin-bottom: 30px;
    &:hover{
        .box-images{
            img{
                transform: scale(1.1);
            }
        }
        
        .box-text{
            .title-product{
                a{
                    color: #cc0000;
                }
            }
        }

    }

    .box-images{
        max-width: 100%;
        height: auto;
        overflow: hidden;

        img{
            width: 100%;
            height: auto;
        }
    }

    .box-text{
        padding-top: 10px;
        .title-product{
            a{
                font-size: 18px;
                color: #333333;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .desc{
            padding-top: 17px;
            span{
                font-size: 16px;
                color: #666666;
            }
        }

        .price-product{
            padding-top: 17px;
            .price{
                font-weight: bold;
                del{
                    font-size: 16px;
                    color: #666;
                    padding-right: 5px;
                }

                ins{
                    background: unset;
                    font-size: 18px;
                    color: #cc0000;
                }
            }
        }
    }
}
// --------------------------------------------------------------------- home pages ----------------------------------------------------------------------


main{
    position: relative;
    margin-top: 62px;
    &.home-page{
        margin-top: unset;
    }
}

.banner{
    .banner-box{
        position: relative;
    }

    .banner-images{
        max-width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;

        img{
            height: 100%;
            object-fit: cover;
        }
    }

    .banner-text{
        position: absolute;
        width: max-content;
        top: 55%;
        transform: translateY(-50%);
        left: 36px;
        font-size: 10px;
        font-family: 'butlers';

        @media only screen and (max-width: 576px){
            font-size: 35%;
            width: 100%;
        }

        .banner-title{
            font-size: 4em;
            color: #fff;
            font-weight: 500;
        }

        .banner-btn{
            font-size: 1.4em;
            text-transform: uppercase;
            color: #333333;
            display: inline-block;
            padding: 10px 26px;
            background: #fff;
            border-radius: 5px;
            margin-top: 23px;
            font-weight: 700;
            font-family: 'Lato', sans-serif;
            @media only screen and (max-width: 576px){
                &{
                    padding: 10px;
                }
            }
        }
    }

    .owl-carousel{
        .item{
            margin-bottom: 0px;
        }
    
        &.owl-theme .owl-nav [class*=owl-]:hover{
            background: rgba(51, 51, 51, 0.678);
        }
        
        &.owl-theme .owl-dots{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 93%;

            @media only screen and (max-width: 1024px){
                &{
                    top: 90%;
                }
            }

            @media only screen and (max-width: 768px){
                &{
                    top: 87%;
                }
            }

            @media only screen and (max-width: 576px){
                &{
                    top: 80%;
                }
            }
        }

        &.owl-theme .owl-dots .owl-dot{
            outline: none;
            &.active span{
                background-color: #A6A6A6;
            }
            span{
                margin: 5px 3px;
                background: #FFFFFF;
    
                &:hover{
                    background-color: #A6A6A6;
                }
            }
        }
    
        &:hover .owl-nav{
            opacity: 1;
            visibility: visible;
        }
        .owl-nav{
            opacity: 1;
            visibility: visible;
            transition: .3s ease-in-out;
            margin-top: unset;
            @media only screen and (max-width: 768px){
                &{
                    opacity: 1;
                    visibility: visible;
                }
            }
            button{
                background-color: none;
                border: none;
                outline: none;
                font-size: 50px;
                z-index: 4;
                background: rgba(51, 51, 51, 0.678);
                color: #fff;
                margin: 0;

                span{
                    display: block;
                    margin-bottom: 6px;                   
                    padding: 0px 7px;
                }

                &:hover{

                    color: #fff;
                }
    
                &.owl-prev{
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    font-size: 50px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            left: 0px;
                        }
                    }
                }
    
                &.owl-next{
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    font-size: 50px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            right: 0px;
                        }
                    }
                }
            }
        }
    }
}

.how-it-work{
    padding-top: 70px;
}

.our-packet{
    padding-top: 100px;

    .owl-stage-outer{
        padding: 15px 0px;
    }

    .owl-carousel{
        .item{
            padding: 5px;
        }
    
        &.owl-theme .owl-nav [class*=owl-]:hover{
            background: rgba(51, 51, 51, 0.678);
        }
       

        &.owl-theme .owl-dots .owl-dot{
            outline: none;
            &.active span{
                background-color: #333333;
                width: 50px;
            }
            span{
                margin: 5px 3px;
                background: #EBE8E8;
                width: 20px;
                height: 3px;
    
                &:hover{
                    background-color: #333333;
                }
            }
        }
    
    }
}

.our-product{
    padding-top: 70px;
    overflow: hidden;
    .pr-images{
        max-width: 100%;
        height: auto;
        overflow: hidden;
        margin-bottom: 30px;

        &:hover{
            img{
                transform: scale(1.1);
            }
        }

        img{
            height: auto;
            vertical-align: middle;
            transition: .3s ease-out;
        }
    }
}

.porfolio{
    margin-top:100px;
    padding-top:70px;
    padding-bottom: 60px;
    background: #E0E0E0;

    .owl-stage-outer{
        padding: 15px 0px;
    }

    .owl-carousel{
        .item{
            padding: 5px;
        }
    
        &:hover .owl-nav{
            opacity: 1;
            visibility: visible;
        }
        .owl-nav{
            opacity: 1;
            visibility: visible;
            transition: .3s ease-in-out;
            margin-top: unset;
            @media only screen and (max-width: 768px){
                &{
                    opacity: 1;
                    visibility: visible;
                }
            }
            button{
                background-color: none;
                border: none;
                outline: none;
                font-size: 20px;
                z-index: 4;
                background: rgba(51, 51, 51, 0.548);
                color: #fff;
                margin: 0;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                font-weight: normal;

                &:hover{
                    background: rgba(51, 51, 51, 0.918);
                }

                span{
                    display: block;
                    margin-bottom: 6px;                   
                    padding: 0px 7px;
                    font-weight: normal;
                }

                &:hover{

                    color: #fff;
                }
    
                &.owl-prev{
                    position: absolute;
                    top: 50%;
                    left: -25px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            left: -20px;
                        }
                    }
                }
    
                &.owl-next{
                    position: absolute;
                    top: 50%;
                    right: -25px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            right: -20px;
                        }
                    }
                }
            }
        }
    }
}

.before-after{
    padding-top: 80px;
    .container{
        max-width: 1200px;
    }
    img{
        transition: 0s;
        object-fit: cover;
    }

    .owl-carousel{
        &:hover .owl-nav{
            opacity: 1;
            visibility: visible;
        }
        .owl-nav{
            opacity: 1;
            visibility: visible;
            transition: .3s ease-in-out;
            margin-top: unset;
            @media only screen and (max-width: 768px){
                &{
                    opacity: 1;
                    visibility: visible;
                }
            }
            button{
                background-color: none;
                border: none;
                outline: none;
                font-size: 20px;
                z-index: 4;
                background: rgba(51, 51, 51, 0.548);
                color: #fff;
                margin: 0;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                font-weight: normal;

                &:hover{
                    background: rgba(51, 51, 51, 0.918);
                }

                span{
                    display: block;
                    margin-bottom: 6px;                   
                    padding: 0px 7px;
                    font-weight: normal;
                }

                &:hover{

                    color: #fff;
                }
    
                &.owl-prev{
                    position: absolute;
                    top: 50%;
                    left: -25px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            left: -20px;
                        }
                    }
                }
    
                &.owl-next{
                    position: absolute;
                    top: 50%;
                    right: -25px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            right: -20px;
                        }
                    }
                }
            }
        }
    }
}

.review-customer{
    padding-top: 100px;

    .owl-stage-outer{
        padding: 15px 0px;
    }

    .owl-carousel{
        .item{
            padding: 5px;
        }
    
        &.owl-theme .owl-nav [class*=owl-]:hover{
            background: rgba(51, 51, 51, 0.678);
        }
       

        &.owl-theme .owl-dots .owl-dot{
            outline: none;
            &.active span{
                background-color: #333333;
                width: 50px;
            }
            span{
                margin: 5px 3px;
                background: #EBE8E8;
                width: 20px;
                height: 3px;
    
                &:hover{
                    background-color: #333333;
                }
            }
        }
    
    }
}

.pablo-design{
    padding-top: 90px;
    .row{
        background: #FAFAFA;
    }

    .conent-box{
        padding: 70px 0px 70px 50px;

        .text{
            font-size: 10px;

            .title{
                font-size: 4em;
                display: block;
                max-width: 575px;
                padding-bottom: 30px;
                font-family: 'butlers';
            }

            .the_content{
                max-width: 670px;

                p{
                    font-size: 15px;
                }
            }
        }
    }

    .owl-carousel{
        .item{
            padding: 5px;
        }
    
        &.owl-theme .owl-nav [class*=owl-]:hover{
            background: rgba(51, 51, 51, 0.678);
        }
       

        &.owl-theme .owl-dots .owl-dot{
            outline: none;
            &.active span{
                background-color: #333333;
                width: 50px;
            }
            span{
                margin: 5px 3px;
                background: #EBE8E8;
                width: 20px;
                height: 3px;
    
                &:hover{
                    background-color: #333333;
                }
            }
        }
    }

    .owl-theme .owl-dots, .owl-theme .owl-nav{
        text-align: left;
    }
}

.work-with-us{
    position: relative;
    padding: 115px 0px;
    background-image: url('../images/bg3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: #d7d1d171;
    }

    .container{
        position: relative;
        z-index: 3;
    }

    .content-box{
        font-size: 10px;
        .title{
            font-size: 2.4em;
            text-transform: uppercase;
            color: #000000;
            padding-bottom: 40px;
        }

        .desc{
            font-size: 3.6em;
            font-family: 'butlers';
            color: #000000;
        }
    }
}

.partner{
    .content-box{
        padding: 65px 10px 52px 40px;
    }

    .the_content{
        max-width: 665px;
        p{
            font-size: 18px;
            color: #333333;
        }
        ul{
            list-style: none;
            margin: unset;
            padding: unset;
            
            li{
                a{
                    font-size: 18px;
                    color: #333333;
                    font-weight: bold;
                    padding-right: 14px;
                }
            }
        }
    }
}