.over-lay-mb{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.8);
    z-index: 9995;
    display: none;

    &.overlay-open{
        display: block;
    }
}

.box-search_header{
    position: fixed;
    top: 30%;
    left: 50%;
    transition: .3s ease-in-out;
    animation: show_box_hd .5s forwards;
    text-align: center;
    z-index: 9999;
    display: none;

    &.active_show{
        display: block;
    }
    @keyframes show_box_hd {
        0%{
            opacity: 0;
            visibility: hidden;
            transform:translateX(-50%) scale(0.7);
        }

        100%{
            opacity: 1;
            visibility: visible;
            transform:translateX(-50%) scale(1);
        }
    }

    label{
        font-size: 35px;
        font-weight: 400;
        text-transform: capitalize;
        padding-bottom: 20px;
        color: #fff;
    }

    form{
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        height: 30px;
        input{
            border: none;
            outline: none;
            border-radius: unset;
            padding-left: 10px;
            width: 290px;
            background: transparent;
            color: #fff !important;
            height: 30px;
        }

        button{
            background: none;
            border: none;
            outline: none;
            color: #fff;
            cursor: pointer;
            margin-bottom: 3px;
            .fa{
                font-size: 14px;
            }
        }
    }
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: .3s ease-out;

    &:hover{
        background: #fff;
        
        .header-main{
            border-bottom: unset;
        }
    }

    @media only screen and (max-width: 768px){
        &{
            position: static;
        }
    }
}

.header-main{
    border-bottom: 1px solid #3E3E3F;
    .logo{
        max-width: auto;
        height: auto;

        img{
            width: 100%;
            height: auto;
        }
    }

    .main-menu{
        @media only screen and (max-width: 768px){
            &{
                display: none;
            }
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            perspective: 500px;
            li{
                margin-right: 30px;
                line-height: 60px;

                &:hover{
                    a{
                        &::before{
                            width: 70%;
                        }
                    }
                }

                a{
                    font-size: 14px;
                    color: #000000;
                    transition: .3s ease-out;
                    display: inline-block;
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 10px;
                        width: 0%;
                        height: 2px;
                        background: #000;
                        transition: .3s ease-out;
                    }
                }

                &:last-child{
                    margin-right: unset;
                }
                
                &.has-child{
                    position: relative;

                    a{
                        &:after{
                            content:"\f107";
                            font-family: "fontawesome";
                            padding-left: 4px;
                        }
                    }

                    &:hover{
                        ul{
                            transform: rotateY(0deg) rotateX(0deg);
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    ul{
                        position: absolute;
                        padding: 15px 17px;
                        margin: unset;
                        width: max-content;
                        background: #fff;
                        flex-direction: column;
                        align-items: flex-start;
                        transform-style: preserve-3d;
                        transform: rotateY(-10deg) rotateX(-50deg);
                        transition: .3s ease-out;
                        opacity: 0;
                        visibility: hidden;
                        -webkit-box-shadow: 0px 2px 10px 2px rgba(238,238,238,0.53); 
                        box-shadow: 0px 2px 10px 2px rgba(238,238,238,0.53);

                        li{
                            line-height: 22px;

                            a{
                                &:after{
                                    content:"";
                                    padding-left: 0px;
                                }

                                &::before{
                                    display: none;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

.moblie-bar{
    .hc-nav-trigger{
        position: static;
    }
}



